### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data["SN"].value_counts())
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Finding & Appending Number of Unique Items
unique_items = len(purchase_data["Item ID"].value_counts())

In [8]:
# Total money spent 
total_revenue = round(purchase_data["Price"].sum(), 2)

In [9]:
# Number of purchases
num_purchases = purchase_data["Price"].count()

In [27]:
# Avergae Price 
average_price = round(purchase_data["Price"].mean(), 2)

In [30]:
# list for analysis
purchase_analysis =[]

In [31]:
# Appending Values to list 
purchase_analysis.append(unique_items)
purchase_analysis.append("$" + str(average_price))
purchase_analysis.append(num_purchases)
purchase_analysis.append("$" + str(total_revenue))

In [33]:
# Converting to DataFrame 
pd.DataFrame([purchase_analysis], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
# Grouping by gender & counting
gender_grouped = purchase_data[["SN", "Gender"]]
gender_grouped = gender_grouped.drop_duplicates()
counts = gender_grouped["Gender"].value_counts()

In [39]:
# List of values
total_counts = [counts[0],counts[1],counts[2]]
percents_g = [round((counts[0]/player_count)*100,2),round((counts[1]/player_count)*100,2),round((counts[2]/player_count)*100,2)]

In [43]:
# Creating DataFrame & setting index 
gender_demo_purchase_data = pd.DataFrame({
    "Percentage of Players": percents_g,
    "Total Count": total_counts
})
gender_demo_purchase_data.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo_purchase_data

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
Gender_grouped = purchase_data[["SN", "Gender", "Price"]]
count_g = gender_grouped["Gender"].value_counts()

In [53]:
# Purchase counts 
Purchase_counts = [counts_g[0],counts_g[1],counts_g[2]]

NameError: name 'counts_g' is not defined

In [45]:
# Total Purchase Value 
total_purchase_value_g = [total_spent.iloc[1,0], total_spent.iloc[0,0], total_spent.iloc[2,0]]

NameError: name 'total_spent' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [66]:
purchase_data2 = purchase_data[["SN","Age"]]
purchase_data2 = purchase_data2.drop_duplicates()

# Age count
age_10 = purchase_data2[purchase_data2["Age"] < 10].count()[0]
age_14 = purchase_data2[(purchase_data2["Age"] >= 10) & (purchase_data2["Age"] <= 14)].count()[0]
age_19 = purchase_data2[(purchase_data2["Age"] >= 15) & (purchase_data2["Age"] <= 19)].count()[0]
age_24 = purchase_data2[(purchase_data2["Age"] >= 20) & (purchase_data2["Age"] <= 24)].count()[0]
age_29 = purchase_data2[(purchase_data2["Age"] >= 25) & (purchase_data2["Age"] <= 29)].count()[0]
age_34 = purchase_data2[(purchase_data2["Age"] >= 30) & (purchase_data2["Age"] <= 34)].count()[0]
age_39 = purchase_data2[(purchase_data2["Age"] >= 35) & (purchase_data2["Age"] <= 39)].count()[0]
age_40 = purchase_data2[purchase_data2["Age"] >= 40].count()[0]
ages = [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40]

In [67]:
# Percents 
percent_10 = round((age_10/player_count)*100,2)
percent_14 = round((age_14/player_count)*100,2)
percent_19 = round((age_19/player_count)*100,2)
percent_24 = round((age_24/player_count)*100,2)
percent_29 = round((age_29/player_count)*100,2)
percent_34 = round((age_34/player_count)*100,2)
percent_39 = round((age_39/player_count)*100,2)
percent_40 = round((age_40/player_count)*100,2)
percents_a = [percent_10, percent_14, percent_19, percent_24, percent_29, percent_34, percent_39, percent_40]

In [68]:
# Creating the dictionary
age_demo = {
        "Percent of Players": percents_a,
        "Total Count": ages
    }

In [69]:
# Creating DataFrame & setting index
age_demo_purchase_data = pd.DataFrame(age_demo)
age_demo_Purchase_data.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demo_Purchase_data

NameError: name 'age_demo_Purchase_data' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase Count
purchase_10 = purchase_data[purchase_data["Age"] < 10].count()[0]
purchase_14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
purchase_19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
purchase_24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
purchase_29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
purchase_34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
purchase_39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
purchase_40 = purchase_data[purchase_data["Age"] >= 40].count()[0]

NameError: name 'purchase_data' is not defined

NameError: name 'df' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
data3 = purchase_data[["SN","Price","Item Name"]]
total_spent = data3.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

In [ ]:
# Top Spender SN
names = list(total_spent.index.values)
top_names = [names[0],names[1],names[2],names[3],names[4]]

In [ ]:
# Total Purchase Values
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
                      total_spent.iloc[4,0]]

In [ ]:
# Purchase Counts
top_purchase_counts_1 = df3[df3["SN"] == names[0]].count()[0]
top_purchase_counts_2 = df3[df3["SN"] == names[1]].count()[0]
top_purchase_counts_3 = df3[df3["SN"] == names[2]].count()[0]
top_purchase_counts_4 = df3[df3["SN"] == names[3]].count()[0]
top_purchase_counts_5 = df3[df3["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1, top_purchase_counts_2, top_purchase_counts_3, top_purchase_counts_4,
                       top_purchase_counts_5]

In [ ]:
# Average Purchas Prices
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1, avg_price_2, avg_price_3, avg_price_4, avg_price_5]

In [ ]:
# Dictionary of values
top_spenders_dict = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_names
}

In [ ]:
# Creating DataFrame & setting index
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

In [ ]:
# Formatting prices
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
data4 = purchase_data[["Item ID", "Item Name", "Price"]]
pop_items = data4.groupby("Item ID").count()
pop_items.sort_values(by = "Item Name", ascending = False, inplace = True)
data4 = data4.drop_duplicates(["Item ID", "Item Name"])

In [ ]:
# Item IDs
item_ids = [pop_items.index[0], pop_items.index[1], pop_items.index[2], pop_items.index[3], pop_items.index[4]]

In [ ]:
# Item Names
name_1 = data4.loc[data4["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = data4.loc[data4["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = data4.loc[data4["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = data4.loc[data4["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = data4.loc[data4["Item ID"] == item_ids[4], "Item Name"].item()
pop_item_names = [name_1, name_2, name_3, name_4, name_5]

In [ ]:
# Purchase Counts
item_counts = [pop_items.iloc[0,0], pop_items.iloc[1,0], pop_items.iloc[2,0], pop_items.iloc[3,0], pop_items.iloc[4,0]]

In [ ]:
# Item Prices
price_1 = data4.loc[data4["Item Name"] == pop_item_names[0], "Price"].item()
price_2 = data4.loc[data4["Item Name"] == pop_item_names[1], "Price"].item()
price_3 = data4.loc[data4["Item Name"] == pop_item_names[2], "Price"].item()
price_4 = data4.loc[data4["Item Name"] == pop_item_names[3], "Price"].item()
price_5 = data4.loc[data4["Item Name"] == pop_item_names[4], "Price"].item()
item_prices = [price_1,price_2,price_3,price_4,price_5]

In [ ]:
# Total Purchase Value
total_values = [pop_items.iloc[0,0]*price_1, pop_items.iloc[1,0]*price_2, pop_items.iloc[2,0]*price_3, 
                pop_items.iloc[3,0]*price_4, pop_items.iloc[4,0]*price_5]

In [ ]:
# Creating DataFrame & setting index
pop_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": pop_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values
})
pop_items_df = pop_items_df.set_index(["Item ID", "Item Name"])
pop_items_df = pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

In [ ]:
# Formatting Prices
pop_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
data4 = purchase_data[["Item ID", "Item Name", "Price"]]
profit_items = data4.groupby("Item ID").sum()
profit_items.sort_values(by = "Price", ascending = False, inplace = True)
data4 = date4.drop_duplicates(["Item ID", "Price"])

In [ ]:
# Item IDs
item_ids = [profit_items.index[0], profit_items.index[1], profit_items.index[2], profit_items.index[3], profit_items.index[4]]

# Item Names
name_1 = data4.loc[data4["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = data4.loc[data4["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = data4.loc[data4["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = data4.loc[data4["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = data4.loc[data4["Item ID"] == item_ids[4], "Item Name"].item()
profit_names = [name_1, name_2, name_3, name_4, name_5]

In [ ]:
# Total Purchase Value
values = [profit_items.iloc[0,0],profit_items.iloc[1,0],profit_items.iloc[2,0],profit_items.iloc[3,0],profit_items.iloc[4,0]]

In [ ]:
# Item Price
price_1 = data4.loc[data4["Item ID"] == item_ids[0], "Price"].item()
price_2 = data4.loc[data4["Item ID"] == item_ids[1], "Price"].item()
price_3 = data4.loc[data4["Item ID"] == item_ids[2], "Price"].item()
price_4 = data4.loc[data4["Item ID"] == item_ids[3], "Price"].item()
price_5 = data4.loc[data4["Item ID"] == item_ids[4], "Price"].item()
profit_prices = [price_1,price_2,price_3,price_4,price_5]

In [ ]:
# Purchase counts
data5 = purchase_data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
count_1 = data5.loc[data5.index == profit_names[0], "Item ID"].item()
count_2 = data5.loc[data5.index == profit_names[1], "Item ID"].item()
count_3 = data5.loc[data5.index == profit_names[2], "Item ID"].item()
count_4 = data5.loc[data5.index == profit_names[3], "Item ID"].item()
count_5 = data5.loc[data5.index == profit_names[4], "Item ID"].item()
counts = [count_1, count_2, count_3, count_4, count_5]

In [ ]:
# Creating DataFrame & setting index
profit_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": profit_names,
    "Purchase Count": counts,
    "Item Price": profit_prices,
    "Total Purchase Value": values
})
profit_items_df = profit_items_df.set_index(["Item ID", "Item Name"])
profit_items_df = profit_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

In [ ]:
# Formatting prices
profit_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80